
body {
  font-family: 'Athiti', sans-serif;
  background: url(../images/photolog.jpg) no-repeat center center fixed;
  background-blend-mode: darken;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.regis {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 50px;
  text-align: center;
  width: 600px;
  height: 750px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.userpic {
  position: relative;
  top: -50px;
  border-radius: 100px;
  box-shadow: -2px -2px 8px 0px rgba(0, 0, 0, 0.2);
}
#regiz {
  text-align: left;
  width: 70%;
}