<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://fonts.googleapis.com/css?family=Athiti:500" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'polls/css/register.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <div class="regis">
        <img src="../../../media/img/user.png" style="width: 80px;" class="userpic">

        <h1>REGISTER</h1>
        <br>

           <form method="post" class="m-auto" id="regiz">
        {% csrf_token %}
                        {{ form.choices }}

    <div class="row">




            <div class="col mb-2">
                <label>First Name :</label>
                {{ form.first_name }}
            </div>
            <div class="col mb-2">
                <label>Last Name :</label>
                {{ form.last_name }}
            </div>
    </div>
                <label>E-mail</label>
                    {{ form.email }}
                        {{ form.errors }}
                <label class="mt-2">Username :</label>
                    {{ form.username }}

                <label class="mt-2">Password :</label>
                {{ form.password1 }}

                <label class="mt-2">Confirm Password :</label>

                {{ form.password2 }}


        <button class="btn btn-warning w-100" type="submit" style="margin: 10px"><h5>submit</h5></button>
    </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>


        <style>

            body {
                  font-family: 'Athiti', sans-serif;

            }

        </style>



</body>
</html>
