<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>review</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Athiti:500" rel="stylesheet">
{#  <link rel="stylesheet" href="{% static 'polls/css/review_style.css' %}">#}

  
</head>
<div>
  
  <div class="container">
    
    <div class="row mt-5 border p-4" id="shopPage">
      <div class="col-5 text-center">

        {% for shopname in area.shop_set.all %}

        {% if shopname.image %}
        <img src="{{ shopname.image.url }}" width="300px" height="300" style="border-radius: 20px">

        {% else %}
        <img src="../../../media/img/no-img.png" width="300px" height="300px">
        {% endif %}
        {% endfor %}
        <br>

        {% if user.id %}
        <button type="button" class="btn btn-warning mt-4 w-100" data-toggle="modal" data-target="#reviewWriteForm">Review</button>

        {% else %}

        <button type="button" class="btn btn-warning mt-4 w-100" data-toggle="modal" data-target="#reviewError">Review</button>
        You have to <a href="{% url 'login' %}">login</a> before 'REVIEW'

        {% endif %}
        <input type="hidden" name="next_url" value="{{ next_url }}">

      </div>
      <div class="col-7">
        {% for shopname in area.shop_set.all %}

        <div class="row mt-4 mb-4">
          <div class="col-2">
            <img src="../../../media/img/store.png" width="50px">
          </div>
          <div class="col-10">
            <h2>ร้าน : {{ shopname.shop_name}}</h2>
          </div>
        </div>
        <hr>

        <div class="row mt-4 mb-4">
          <div class="col-2">
            <img src="../../../media/img/open.png" width="50px">

          </div>
          <div class="col-10">
            <h3>{{ shopname.shop_open}}</h3>
          </div>
        </div>

        <div class="row mt-4 mb-4">
          <div class="col-2">
            <img src="../../../media/img/event.png" width="50px">

          </div>
          <div class="col-10">
            <h5 class="text-justify">{{ shopname.shop_detail}} </h5>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    
    <div class="modal fade bd-example-modal-lg" id="reviewWriteForm" tabindex="-1" role="dialog" aria-labelledby="reviewWriteForm" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content p-5">
          
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button><br>
            <p class="text-center h3"> กรอกข้อมูลสำหรับรีวิว</p>
            
            <hr>
            
            {% for shopname in area.shop_set.all %}
            
            
            {% endfor %}
            <form method="post" action="{% url 'review' area.id %}">
              {% csrf_token %}
              
              
              
              <div class="form-group">
                
                <label>หัวข้อ : </label>
                {{ form.review_title }}
                
                <label>รายละเอียด : </label>
                {{ form.review_message }}
              </div>
              <div class="row" width="50%">
                <div class="col-6 text-right">  <button type="submit" class="btn btn-warning w-50">Submit</button></div>
                <div class="col-6 text-left"><button type="button" class="btn btn-secondary w-50" data-dismiss="modal">CANCLE</button></div>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>

    {% for market in area.shop_set.all %}
    {% for review in market.review_set.all %}

    <div class="row mt-2 p-4 border" style="background-color: white;">

      <div class="col-4">
        {% if review.review_user.userprofile.image %}
        <img src=" {{review.review_user.userprofile.image.url}}" width="300px" height="300">

        {% else %}
        <img src="../../../media/img/no-img.png" width="300px" height="300px">
        {% endif %}


      </div>
      <div class="col-8">


        <p style="color:gray; display: block; text-align: right; margin-bottom: 10px;"><i><b><button type="button" class="btn btn-warning btn-sm" style="border-radius: 100px" disabled>Comment {{ forloop.counter }} </button>
        </b></i></p>

        <h4>Title :   {{ review.review_title }}</h4>


        <p> {{ review.review_message }}</p>

        <small class="mr-4" style="color:gray;"><i>

          Create by : {{review.review_user.get_full_name}} </i></small>
          <small style="color:gray;"><i>Create Date : {{review.text}}</i></small>
        </div>

      </div>
      {% endfor%}

      {% endfor %}

    </div>
    

</div>
    

  
  
  <style>


body {
    font-family: 'Athiti', sans-serif;
  background: url(../../../media/img/photolog.jpg) no-repeat center center fixed;
  background-blend-mode: darken;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
    background-position: center;

    height: 500px;

}
.jumbotron h1 {
    margin: auto;
    text-align: center;
    padding: 10px;
    width: 40%;
    color: #ffd017;
    border-style: solid;
}

#shopPage {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

  </style>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  
</body>
</html>