<!DOCTYPE html>    {% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop Detail</title>
    <link rel="stylesheet" href="{% static 'polls/css/shop.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Athiti:500" rel="stylesheet">

</head>
<body>
    
    
    


  <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index2' %}">
                <img src="../../../media/img/train.png" width="50px"> KMITL MARKET
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index2' %}">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
 {% if perms.polls.add_shop %}
              <li class="nav-item">

              <a class="nav-link" href="{% url 'booked' %}">  Book</a>
              </li>
          {% endif %}
                  <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}"> Guide</a>
            </li>
          {% if not user.is_authenticated %}
             <li class="nav-item">
                 <div class="nav-link">|</div>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"> Login</a>
            </li>
          {% else %}
               <li class="nav-item">
                 <div class="nav-link">|</div>
            </li>

              <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ user }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <a href="{% url 'profile' %}"><button class="dropdown-item" type="button">Profile</button></a>
    <a href="{% url 'edit_profile' %}"><button class="dropdown-item" type="button">Edit Profile</button></a>
    <a href="{% url 'shop_detail' %}"><button class="dropdown-item" type="button">Edit Shop</button></a>
      <a href="{% url 'logout' %}"><button class="dropdown-item" type="button">Log out</button></a>

  </div>
</div>

          {% endif %}
                {% if not user.is_authenticated %}

                    <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}"> Sign Up</a>
            </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
    
    

    <div class="container">
    <table class="table table-light table-bordered">

    {% if shoplink != 'Nodata' %}
            {% for i in shoplink %}
                <tr>

                <td>{{ forloop.counter }} : {{ i.shop_name }}   </td>
                <td> <a href="{% url 'edit_shop' i.id %}">แก้ไขรายละเอียด</a></td>
                </tr>

            {% endfor %}
    {% else %}
             <tr>
                 <td>Nodata</td>
             </tr>
    {% endif %}
    </table>
    </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
</body>
</html>