<!DOCTYPE html>    {% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop Detail</title>
</head>
<body>

    {% if shoplink != 'noo' %}

        {% for i in shoplink %}

            {{ i.shop_name }}



            {% if i.image %}
                <img src="{{ i.image.url }}">

            {% else %}
              <img src="../../../media/img/no-img.png" width="200px">
            {% endif %}
    {% endfor %}



     {% else %}
            NO data

    {% endif %}


</body>
</html>