<!DOCTYPE html>    {% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop Detail</title>
    <link rel="stylesheet" href="{% static 'polls/css/shop.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
    
    
    
    
    
    
    {% if shoplink != 'noo' %}
    
    {% for i in shoplink %}
    
    
    <div class="container">
        
        <div id="frameA">
            <div class="row">
                <div class="col m-5 text-center">
                      {% if i.image %}
        <img src="{{ i.image.url }}" width="300px" height="300">

        {% else %}
        <img src="../../../media/img/no-img.png" width="200px">
        {% endif %}
                    <p class="mt-4 h3 text-center">ZONE : {{ i.shop_area.area_code }}</p>

                </div>
                <div class="col m-5">



                    {% if i.shop_area.isBooking == 0 %}
                    <a href="{% url 'booking' i.shop_area.id %}">Book</a>
                    {% else %}
                    <a href="{% url 'review' i.shop_area.id %}">Review</a>
                    {% endif %}
                    {{ i.shop_area.isBooking }}

                </div>
            </div>
        </div>
        
        
        
        
        

        {% endfor %}
        
        
        
        {% else %}
        NO data
        sdfsdf
        <a href="{% url 'booking' shop_area %}">Book</a>
        
        
        {% endif %}
        
    </div>
    
    
    
    
    
    
</body>
</html>